<%- include('partials/header') %>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="index.html">Vaccineed</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo"><img src="https://i.ibb.co/yhHKJyh/Screenshot-239.png" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/" class="btn-get-quote">Home</a></li>
          <li><a href="#about" class="btn-get-quote">About</a></li>
          <li><a href="#slot" class="btn-get-quote">Slot Booking</a></li>
          <li><a href="#faq" class="btn-get-quote">FAQ</a></li>
          <li><a href="/login" class="btn-get-quote">Login</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Virtual Queue for COVID-19 vaccination</h1>
          <ul>
            <li><i class="fa fa-check"></i> <h3>Avoid virus spread by maintaining social distancing and preventing rush</h3></li>
            <li><i class="fa fa-check"></i> <h3>Get latest updates on Corona virus</h3></li>
            <li><i class="fa fa-check"></i> <h3>Ask any query related to vaccination</h3></li>
          </ul>
          <div class="mt-3">
            <a href="/home" class="btn-get-quote">Let's Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="https://serving.photos.photobox.com/134424946dc7ed8fac4f131c13e27d1fed39a09a8d691c41c9df1e784edd92ef267459e4.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- about -->
    <section id="about" class="about" >
      <div class="container">

        <div class="section-title">
          <h2>ABOUT</h2>
          <h3>
            As and when COVID-19 vaccines become available, they will likely lead
            to a massive global effort to distribute and administer them. In this
            context our team brought a platform of virtual queue platform where
            user can book his/her slot to get vaccine preventing virus spread and
            maintaining social distancing. This will also help in keeping a check
            on black marketing of vaccines.

          </h3>
        </div>
    </section>
    <!-- End About section -->

    <!--Slot booking-->
    <section id="slot" class="slot">
      <div class="container">

        <div class="row content justify-content-center">
          <div class="col-lg-10">
            <h2>Get your Token number just by following some simple steps...</h2>

          </div>

        </div>

      </div>
    </section>

    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Register</h4>
              <p>Register by giving some basic details like name, address, aadhar card no. and upload your signature.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Dashboard</h4>
              <p>See the queue status when are u getting vaccine. Receive updates on COVID-19 panedemic. </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4> Emergency Request</h4>
              <p>Apply for Emergency Request giving some genuine reason alongwith medical certificate. </p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End slot booking Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fa fa-car"></i>
              <span data-toggle="counter-up"><%=deaths%></span>
              <p>total deaths</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="fa fa-car"></i>
              <span data-toggle="counter-up"><%=treated%></span>
              <p>total treated</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fa fa-car"></i>
              <span data-toggle="counter-up"><%=infected%></span>
              <p>total infected</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fa fa-car"></i>
              <span data-toggle="counter-up"><%=newcases%></span>
              <p>cases in last 24 hrs</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq" style="background-color: rgb(243, 253, 244);">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          <h3>Have any query regarding covid-19 vaccination??.....Ask our chatbot!</h3>
        </div>

    <p align="center">
      <iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/6c63829f-d9b4-4dd4-bbd6-8b7685e5a3cf">
      </iframe>
      </p>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->
<!-- Add news section -->
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; <strong><span>@2020-The Still Variables</span></strong>
        </div>
        
      </div>

    </div>
  </footer><!-- End Footer -->

  <%- include('partials/footer') %>
