<%- include('partials/header') %>

<div class="container mt-5">
    <div class="user_header">
    <h2 style="text-align: left;" id="token_no" ><b>Token No. - <%=userInfo._id%></b></h2>
    <h4 style="text-align: right;" class="col-10"><a href="firstPage">Back to homepage <i class="fas fa-arrow-right"></i></a></h4>
    </div>
    <br>
    <br>
    <h1 style="text-align: center;">My dashboard</h1>
    <br><br><br>
  
    <div class="row justify-content-center">
      <div class="col-10">
  
              <div class="userdetail">
                <h4><b>Full name</b> : <%=userInfo.name%></h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Contact Number</b> : <%=userInfo.contact%></h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Age</b> : <%=userInfo.age%></h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Blood Group</b> : <%=userInfo.blood%></h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Email ID </b>: <%=userInfo.username%></h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Password </b>: <%=userInfo.age%></h4>
                <hr>
              </div>
              
              <div class="userdetail">
                <h4><b>Residential Address </b>: <%=userInfo.address%></h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Adhaar card number</b> : <%=userInfo.aadhar%></h4>
                <hr>
              </div>

              <div class="userdetail">
                <h4><b>Signature </b>:<%=userInfo.link%> </h4>
                <hr>
              </div>
              
              <br>
              <br>

              <!-- <button id="emergency_request" class="btn btn-success btn-lg">Send Emergency Request</button> -->


              <script type="text/javascript">
                function ShowHideDiv(btn) {
                    var reason = document.getElementById("reason");
                    reason.style.display ="block";
                    var file= document.getElementById("doc");
                    file.style.display="block"
                }
            </script>

            <button id="emergency_request" value="request" class="btn btn-success btn-lg" onclick="ShowHideDiv(this)">Send emergency request</button>
            <hr>
            <div id="reason" style="display: none" class="form-group">
                Give Reason
                <textarea type="text" class="form-control" rows="5"></textarea>
            </div>

            <div id="doc" style="display: none" class="form-group">
              Attach files
              <input type="file" class="form-control" rows="5"/>
          </div>

          <button type="submit" class="btn btn-dark btn-lg">Submit</button>

          </div>
        </div>
      </div>
  <br>
  <br>
  <br>

<%- include('partials/footer') %>